<h1>Break a Blocker!</h1>

<%= form_for [@user, @post, @reply] do |f| %>

    <div>
        <%= f.label :content %><br>
        <%= f.text_field :content %><br>
    </div>

    <div>
        <%= f.label :img %><br>
        <%= f.text_field :img %><br>
    </div><br>



    <%= f.submit "Break this Block",class: "btn btn-info"  %>

<% end %><br>

<%= link_to "Back to the Blocker list!", user_posts_path(@user) %>
