<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
  </div>

  <div>
      <%= f.label 'Telephone #' %><br>
      <%= f.text_field :tel %>
  </div>

  <div>
  <%= f.label :location %><br>
  <%= f.select(:location, ["Santa Monica", "Brentwood", "West LA", "Venice", "Pacific Palisades"])  %>
      <!-- <%#= f.label :location %><br>
      <%#= f.text_field :location %> -->
  </div>

  <%= f.label :school %><br>
  <%= f.select(:school, ["General Assembly","Santa Monica High School", "New Roads High School", "Lincoln Middle School", "Crossroads School For Arts & Sciences","Roosevelt Elementary School","Brentwood School, East Campus","The Archer School for Girls","Paul Revere Charter Middle School","Brentwood School, West Campus","University High School","Venice High School","Palms Middle School"])  %>
    <%#= f.label :school %><br>
    <%#= f.text_field :school %>
  <div>
      <%= f.label :img %><br>
      <%= f.text_field :img %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
