




<h1> <%= @user.name %> </h1>
<p> <%= @user.location %> - <%= @user.school %></p>




<ul>
  <% Post.where(:school == 'SMC').each do |post| %>
    <li>
      <strong><%= post.user.name %>:</strong> <%= post.title %> <%= link_to '| show this post', edit_user_post_path if post.user == current_user %> <%= link_to '| delete this post', post, method: :delete, data: {confirm: 'Are you sure?'} if post.user == current_user %>
    </li>

    <!-- <%= render 'partials/form_reply', :post => post %> -->
    <%#= link_to 'Reply to this post', new_neighborhood_post_reply_path(@neighborhood.id, post.id) %>
  <% end %>
</ul>










 </ul>
<%= link_to "Edit this user profile", edit_user_path(@user) %>
<%= link_to "Back to the help list", users_path %>
<%= link_to "Delete this User Profile!", user_path, method: :delete, data: { confirm: "Are you sure you want to delete this user?"} %>
<%= link_to "Get Help", new_user_post_path(@user) %>
