<h1>Edit User Profile</h1>

<%= form_for @user do |f| %>

    <div>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :tel %><br>
        <%= f.text_field :tel %>
    </div>

    <div>
    <%= f.label :location %><br>
    <%= f.select(:location, ["Santa Monica", "Brentwood", "West LA", "Venice", "Pacific Palisades"])  %>
        <!-- <%#= f.label :location %><br>
        <%#= f.text_field :location %> -->
    </div>
    <div>
    <%= f.label :school %><br>
    <%= f.select(:school, ["General Assembly","Santa Monica High School", "New Roads High School", "Lincoln Middle School", "Crossroads School For Arts & Sciences","Roosevelt Elementary School","Brentwood School, East Campus","The Archer School for Girls","Paul Revere Charter Middle School","Brentwood School, West Campus","University High School","Venice High School","Palms Middle School"])  %>
      <%#= f.label :school %><br>
      <%#= f.text_field :school %>
    </div>

    <div>
        <%= f.label :img %><br>
        <%= f.text_field :img %>
    </div>

    <div class="col-md-6 submit_edit_button">
     <%= button_to "Submit these changes", new_user_session_path, method: :get, class: "btn btn-info" %>
    </div>
    <!-- <%#= f.submit "Submit these changes!" %> -->

<% end %>
