<div class="panel-primary">
  <div class="panel-heading">
<h3>Post a Blocker!</h3>
</div>
<div class="panel-body panel panel-default paddng">

<%= form_for [current_user, @post] do |f| %>

    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %><br>
        <%= f.text_field :description %>
    </div>

    <div>
    <%= f.label :location %><br>
    <%= f.select(:location, ["Santa Monica", "Brentwood", "West LA", "Venice", "Pacific Palisades"])  %>
        <!-- <%#= f.label :location %><br>
        <%#= f.text_field :location %> -->
    </div>


    <div>
        <%= f.label :help_time %><br>
        <%= f.text_field :help_time %>
    </div>
    <div>
        <%= f.label :img %><br>
        <%= f.text_field :img %>
    </div>
    <div>
        <%= f.label :notes %><br>
        <%= f.text_field :notes %>
    </div>

    <div>
        <%= f.hidden_field :user_id %>
    </div>

    <div class="col-md-6 post_blocker_button">
     <%= button_to "Post this Blocker", new_user_session_path, method: :get, class: "btn btn-info" %>
    </div>
    <!-- <%#= f.submit "New Post!" %> -->

  </div>
</div>
<% end %>

<%#= link_to "Back to the Help list!", post_path %>
