<!-- <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body"> -->

    <div class="panel-primary">
      <div class="panel-heading">
<h2> <%= @post.title %> </h2>
</div>
<div class="panel-body panel panel-default paddng">

<p><h3> <%= @user.name %></h3> <strong>needs help with:</strong><br> <h4><%= @post.description %> </h4>NOTES:<h4><%= @post.notes %></h4> </p><br>
<% @post.replies.each do |reply| %>
  <strong> <%= reply.user.name %> said: </strong><h4> <%= reply.content %></h4><br> <strong> IMAGE OF SOLUTION?: </strong> <%= reply.img %><br>
<% end %><br>

<% if current_user %>
  <% if current_user == @post.user %>
  <%= link_to "Break this Blocker", new_user_post_reply_path(@user, @post) %>&nbsp; &nbsp; &nbsp;
    <%= link_to "Edit post", edit_user_post_path(@user, @post) %>&nbsp; &nbsp; &nbsp;
    <%= link_to "Back to the Blocker list", user_posts_path(@user) %>&nbsp; &nbsp; &nbsp;
  
  <% end %>

  <!-- the code below allows user to go to post page with a "get help button" made it dryer by comment out. -->
  <!-- <%= link_to "Get Help", new_user_post_path(@user) %> -->
<% end %>
    </div>
  </div>
</div>
